.caffeine-calculator-caffeine-calculator label {
  font-weight: bold;
}

.caffeine-calculator-caffeine-calculator .weight-elements-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caffeine-calculator-caffeine-calculator .weight-elements-container .weight-element-flex {
  flex: auto;
}

.caffeine-calculator-caffeine-calculator .caffeine-amount-wrapper-style {
  margin: 15px 0;
  font-weight: bold;
  font-size: 125%;
  border: 1px solid #7e96a7;
  padding: 15px;
}

.caffeine-calculator-caffeine-calculator .fieldset__legend {
  background-color: transparent;
  border: none;
}

.caffeine-calculator-caffeine-calculator .fieldset__legend .fieldset__label {
  color: #313637;
  font-weight: bold;
  padding: 0;
  display: block;
  margin-top: 0.5625rem;
  margin-bottom: 0.5625rem;
}

.caffeine-calculator-caffeine-calculator .fieldset--group .fieldset__wrapper.fieldset__wrapper--group {
  border: none;
  padding: 0;
}